{% extends 'base.html' %}

{% block title %}トピック一覧{% endblock%}


{% block content %}
    <a href="{% url 'new_topic' %}">トピック作成</a>
    <hr>
    {% for topic in topics %}
    更新時刻: {{ topic.updated_at | date:"Y/m/d(D) H:i:s"}}<br>
    トピック作成者:
    {% if topic.created_by %}
        {{ topic.created_by }}
    {% else %}
        無名
    {% endif %}<br>
    <a href="{% url 'posts' topic.pk %}">{{ topic }}</a><br>
    <hr>
    {% endfor %}

    
    <a href="{% url 'new_topic' %}">トピック作成</a><br>
{% endblock %}
</html>